@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-black dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }


  .btn{
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}